# Подключение к вашей PostgreSQL базе данных
# Замените USER, PASSWORD, HOST, PORT и DATABASE на ваши реальные данные.
# Пример: postgresql://postgres:mysecretpassword@localhost:5432/daurennan?schema=public

DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
